
form {
    text-align: center;
}

form h2 {
    text-align: left;
    margin: 12px 10%;
}

form label {
    margin-left: 15px;
    font-size: 18px;
}


input {
    padding: 5px 5px;
    margin: 10px 5px;
}

#botao-calcular {
    display: block;
    margin: 40px 45%;
    padding: 15px 70px;
    font-size: 18px;
}

#botao-calcular:hover {
    size: larger;
    background-color: rgb(64, 196, 43);
    border-color: rgb(64, 196, 43);
    font-size: larger;
}