header {
    background-color:#de8484;
    height: 15%;
    text-align: right;
}

nav li {
    display: inline-block;
    margin: 10px 20px;
    padding: 20px 10px;
    font-family:'Tahoma';
    font-weight: bold;
} 

nav li:hover {
    size: larger;
    font-weight: bolder;
}

footer {
    background-color: #a95e5e;
}

footer p {
    text-align: center;
    color: antiquewhite; 
    background-color: #a95e5e; 
    padding: 2px 0 0;
}